In [1]:
import pandas as pd
import os
import sqlalchemy 
import glob

In [2]:
#connection to the open payments in data in mysql
constr = 'mysql+mysqlconnector://root:mysqlroot@localhost:3306/school_statistics'
engine = sqlalchemy.create_engine(constr,echo=False)

In [3]:
#dataframe with string values mapped to numbers
str_data_values_in = pd.read_csv('str_data_values_in.csv')

#build dict to reference a numeric value for each possible string value
str_replace = dict(zip(str_data_values_in.str_value, str_data_values_in.number))

In [4]:
str_data_values_in

   str_value  number str_value1  str_value2
0        6-9     7.5          6         9.0
1      10-14    12.0         10        14.0
2      11-19    15.0         11        19.0
3          .     0.0          .         NaN
4      15-19    17.0         15        19.0
5      20-24    22.0         20        24.0
6      20-29    24.5         20        29.0
7      21-39    30.0         21        39.0
8      25-29    27.0         25        29.0
9      30-34    32.0         30        34.0
10     30-39    34.5         30        39.0
11     35-39    37.0         35        39.0
12     40-44    42.0         40        44.0
13     40-49    44.5         40        49.0
14     40-59    49.5         40        59.0
15     45-49    47.0         45        49.0
16     50-54    52.0         50        54.0
17     50-59    54.5         50        59.0
18     55-59    57.0         55        59.0
19     60-64    62.0         60        64.0
20     60-69    64.5         60        69.0
21     60-79    69.5         60        79.0
22     65-69    67.0         65        69.0
23     70-74    72.0         70        74.0
24     70-79    74.5         70        79.0
25     75-79    77.0         75        79.0
26     80-84    82.0         80        84.0
27     80-89    84.5         80        89.0
28     85-89    87.0         85        89.0
29     90-94    92.0         90        94.0
30      GE50    50.0       GE50         NaN
31      GE80    80.0       GE80         NaN
32      GE90    90.0       GE90         NaN
33      GE95    95.0       GE95         NaN
34      GE99    99.0       GE99         NaN
35       LE1     0.0        LE1         NaN
36      LE10    10.0       LE10         NaN
37      LE20    20.0       LE20         NaN
38       LE5     5.0        LE5         NaN
39      LT50    50.0       LT50         NaN
40        PS     0.0         PS         NaN
41       NaN     0.0        NaN         NaN

In [17]:
pd.read_csv('math-achievement-sch-sy2017-18.csv',dtype=str).head()

,STNAM,FIPST,LEAID,ST_LEAID,LEANM,NCESSCH,ST_SCHID,SCHNAM,DATE_CUR,ALL_MTH00NUMVALID_1718,...,MIL_MTH05NUMVALID_1718,MIL_MTH05PCTPROF_1718,MIL_MTH06NUMVALID_1718,MIL_MTH06PCTPROF_1718,MIL_MTH07NUMVALID_1718,MIL_MTH07PCTPROF_1718,MIL_MTH08NUMVALID_1718,MIL_MTH08PCTPROF_1718,MIL_MTHHSNUMVALID_1718,MIL_MTHHSPCTPROF_1718
0,ALABAMA,01,0100005,AL-101,Albertville City,010000500870,AL-101-0010,Albertville Middle School,27MAR19,802,...,NaN,NaN,NaN,NaN,11,GE50,14,GE50,NaN,NaN
1,ALABAMA,01,0100005,AL-101,Albertville City,010000500871,AL-101-0020,Albertville High School,27MAR19,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,GE50
2,ALABAMA,01,0100005,AL-101,Albertville City,010000500879,AL-101-0110,Evans Elementary School,27MAR19,851,...,14,LT50,5,PS,NaN,NaN,NaN,NaN,NaN,NaN
3,ALABAMA,01,0100005,AL-101,Albertville City,010000500889,AL-101-0200,Albertville Elementary School,27MAR19,902,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALABAMA,01,0100006,AL-048,Marshall County,010000600193,AL-048-0143,Kate Duncan Smith DAR Middle,27MAR19,434,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
class test_data_prepper:
    
    '''This class reorganizes NCES Edfacts school level perfomance data files to be loaded into 
    a database. '''
    def __init__(self,file,str_replmts):
        self.file = file
        self.data = pd.read_csv(self.file,dtype=str)
        self.str_replmts = str_replmts
    
    def find_data_cols(self):
        '''find the first column in the dataframe that starts with all'''

        #get columns in dataframe
        cols = list(self.data.columns)
        
        #return first column  that starts with all as this is where the data starts
        first_data = [i for i in cols if i.startswith('ALL')==True][0]
        first_data_ind = list(self.data.columns).index(first_data)
        
        return list(self.data.columns)[first_data_ind:]
      
        #school index columns
    school_index_cols = ['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH']
    
    def get_school_index_2012(self):
        '''Get index columns from testing files for years after 2011.'''        
        self.data_index = self.data[['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH','SCHNAM']]
        return self.data_index
    
    def get_school_index_2009(self):
        '''Get index columns from testing files for 2009 files.''' 
        self.data_index = self.data[['STNAM', 'FIPST', 'leaid', 'leanm', 'NCESSCH','schnam09']]
        self.data_index.columns = ['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH','SCHNAM']
        return self.data_index
    
    def get_school_index_2010(self):
        '''Get index columns from testing files for  2010 files.''' 
        self.data_index = self.data[['stnam', 'fipst', 'leaid', 'leanm10', 'ncessch','schnam10']]
        self.data_index.columns = ['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH','SCHNAM']
        return self.data_index
    
    def get_school_index_2011(self):
        '''Get index columns from testing files for 2011 files.''' 
        self.data_index = self.data[['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH','schnam11']]
        self.data_index.columns = ['STNAM', 'FIPST', 'LEAID', 'LEANM', 'NCESSCH','SCHNAM']
        return self.data_index       
       
    def convert_int(self,value):
        '''try to convert a value to an integer. If it does not work, convert using a dictionary.'''
        
        #first try to value to float
        try:
            return float(value)
        #if that doesn't work, use the dictionary
        except:
            return float(self.str_replmts[value])
    
    def get_scores_data(self):
        '''This function converts the wide data from the school files to vertical data 
        so that it can be stored in an entity attribute value structure.'''

        #school index columns
        school_index = ['NCESSCH']

        #get list of columns containing test score data
        score_cols = self.find_data_cols()
        
        #columns to be selected for stacking
        cols_used = school_index + score_cols
        cols_used = [col.upper() for col in cols_used]
        
        #convert to uppercase as some files have lower case headers
        self.data.columns = [col.upper() for col in list(self.data.columns)]
        
        #stack data vertically and break columns into different attributes
        score_data = self.data[cols_used].set_index('NCESSCH').stack().reset_index()
        
        data_cols = ['NCESSCH','result_desc','result_value']

        score_data.columns = data_cols

        score_data['dem_grp'] = score_data['result_desc'].str[:3]
        score_data['schl_yr'] = score_data['result_desc'].str[-4:]
        score_data['metric'] = score_data['result_desc'].str[3:-4]
        score_data['metric'] = score_data['metric'].str.strip('_')
        score_data['gradelevel'] = score_data['metric'].str[3:5]
        score_data['metrictype'] = score_data['metric'].str[5:]
        score_data['testtype'] = score_data['metric'].str[:3]
        

        score_data = score_data[['NCESSCH','dem_grp','schl_yr','gradelevel','metrictype','testtype','result_value']]
        
        score_data['result_value'] = score_data['result_value'].apply(self.convert_int)
        
        #perform filter and join steps to remove test instances with zero students
        
        #break into different dataframes numvalid and pct prof metrics
        #convert numeric values to to numerics
        numvalid = score_data[score_data['metrictype']=='NUMVALID']
        numvalid['result_value'] = numvalid['result_value'].astype(float)

        pctprof = score_data[score_data['metrictype']=='PCTPROF']
        pctprof['result_value'] = pctprof['result_value'].astype(float)
        
        #eliminate the test groups with zero participants and join numvalid participants and pct proficient groups
        score_rpt = numvalid[numvalid['result_value'] > 0 ].merge(pctprof,how='left',on=\
                                                                  ['NCESSCH', 'dem_grp', 'schl_yr', 'gradelevel', 'testtype'])
        
        #drop unnecessary columns
        score_rpt.columns = ['NCESSCH', 'dem_grp', 'schl_yr', 'gradelevel', 'metrictype_x',
       'testtype', 'numvalid', 'metrictype_y', 'pctprof']
        score_rpt = score_rpt.drop(['metrictype_x','metrictype_y'],axis=1)
        
                
        return score_rpt

In [5]:
os.chdir(r'C:\Users\henry\OneDrive\Documents\school_performance_data\test_scores')

In [11]:
#get list of csv files in directory
csv = glob.glob('*.csv')

['math-achievement-sch-sy2009-10.csv',
 'math-achievement-sch-sy2010-11.csv',
 'math-achievement-sch-sy2011-12.csv',
 'math-achievement-sch-sy2012-13.csv',
 'math-achievement-sch-sy2013-14.csv',
 'math-achievement-sch-sy2014-15.csv',
 'math-achievement-sch-sy2015-16.csv',
 'math-achievement-sch-sy2016-17.csv',
 'math-achievement-sch-sy2017-18.csv',
 'math-achievement-sch-sy2018-19-wide.csv',
 'rla-achievement-sch-sy-2010-11.csv',
 'rla-achievement-sch-sy-2011-12.csv',
 'rla-achievement-sch-sy2009-10.csv',
 'rla-achievement-sch-sy2012-13.csv',
 'rla-achievement-sch-sy2013-14.csv',
 'rla-achievement-sch-sy2014-15.csv',
 'rla-achievement-sch-sy2015-16.csv',
 'rla-achievement-sch-sy2016-17.csv',
 'rla-achievement-sch-sy2017-18.csv',
 'rla-achievement-sch-sy2018-19-wide.csv']

In [23]:
#loop to write all score groups for 10 year period to 1 mysql table

for file in csv:
    data = test_data_prepper(file,str_replace).get_scores_data()
    data.to_sql('test_score_history',if_exists='append',index=False,con=engine,chunksize=10000)
    del data

<ipython-input-19-c9a7092a6607>:103: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numvalid['result_value'] = numvalid['result_value'].astype(float)
<ipython-input-19-c9a7092a6607>:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pctprof['result_value'] = pctprof['result_value'].astype(float)

In [15]:
mth11 = test_data_prepper('math-achievement-sch-sy2011-12_out.csv').get_school_index_2011()
rla11 = test_data_prepper('rla-achievement-sch-sy-2011-12_out.csv').get_school_index_2011()
mth10 = test_data_prepper('math-achievement-sch-sy2010-11_out.csv').get_school_index_2010()
rla10 = test_data_prepper('rla-achievement-sch-sy-2010-11_out.csv').get_school_index_2010()
mth09 = test_data_prepper('math-achievement-sch-sy2009-10_out.csv').get_school_index_2009()
rla09 = test_data_prepper('rla-achievement-sch-sy2009-10_out.csv').get_school_index_2009()
mth12 = test_data_prepper('math-achievement-sch-sy2012-13_out.csv').get_school_index_2012()
rla12 = test_data_prepper('rla-achievement-sch-sy2012-13_out.csv').get_school_index_2012()
mth13 = test_data_prepper('math-achievement-sch-sy2013-14_out.csv').get_school_index_2012()
rla13 = test_data_prepper('rla-achievement-sch-sy2013-14_out.csv').get_school_index_2012()
mth14 = test_data_prepper('math-achievement-sch-sy2014-15_out.csv').get_school_index_2012()
rla14 = test_data_prepper('rla-achievement-sch-sy2014-15_out.csv').get_school_index_2012()
mth15 = test_data_prepper('math-achievement-sch-sy2015-16_out.csv').get_school_index_2012()
rla15 = test_data_prepper('rla-achievement-sch-sy2015-16_out.csv').get_school_index_2012()
mth16 = test_data_prepper('math-achievement-sch-sy2016-17_out.csv').get_school_index_2012()
rla16 = test_data_prepper('rla-achievement-sch-sy2016-17_out.csv').get_school_index_2012()
mth17 = test_data_prepper('math-achievement-sch-sy2017-18_out.csv').get_school_index_2012()
rla17 = test_data_prepper('rla-achievement-sch-sy2017-18_out.csv').get_school_index_2012()
mth18 = test_data_prepper('math-achievement-sch-sy2018-19-wide_out.csv').get_school_index_2012()
rla18 = test_data_prepper('rla-achievement-sch-sy2018-19-wide_out.csv').get_school_index_2012()

In [20]:
all_school_index = pd.concat([mth09,mth10,mth11,mth12,mth13,mth14,mth15,mth16,mth17,mth18,\
                             rla09,rla10,rla11,rla12,rla13,rla14,rla15,rla16,rla17,rla18])\
.drop_duplicates(subset='NCESSCH',keep='last')

In [22]:
#for file in csv:
#run a loop to write all of the test history data to the mysql database
data = all_school_index
table = 'school_id'
data.to_sql(table,if_exists='append',index=False,con=engine,chunksize=10000)